.login {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;

}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.login h1{
    text-align: center;
}

.login input[type=text], .login input[type=password] {
    width: 30%;
    padding: 10px;
    border-radius: 7px;
    outline: none;
    border: 1px solid black;
}

button {
    width: 40%;
    padding: 10px;
    border-radius: 7px;
    border: none;
    outline: none;
}

.login-btn {
    background-color: rgba(30, 108, 225, 0.953);
    color: #fff;
}
