.sidebar-container {
  position: relative;
}
.sidebar {
  position: fixed;
  top: 0;
  left: -350px;
  width: 300px;
  height: 100%;
  /* background-color: #b56576; */
  background-color: #fff;
  color: #fff;
  overflow-x: hidden;
  transition: left 0.3s ease;
  z-index: 1000;
  padding: 20px;
}

.sidebar.open {
  left: 0;
}

.profile-title {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: -25px;
}

.sidebar-title {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.sidebar-title p {
  font-size: 25px;
  color: #32292f;
}

.sidebar-items {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-left: -25px;
}

.sidebar-items li {
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
}

.sidebar-items ul li.selected {
  background-color: #ccc;
  border-radius: 7px;
}

.sidebar-items a {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 15px;
  padding-left: 10px;
}

.icon:hover {
  color: #50404b;
}

.close-icon {
  color: #32292f;
  position: absolute;
  top: 30px;
  right: 20px;
  font-size: 25px;
  cursor: pointer;
}

.close-icon:hover {
  color: #50404b;
}

.menu-icon {
  margin: 15px;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 150px;
  }

  .icon {
    padding: 10px;
  }

  .profile-title {
    gap: 5px;
  }

  .sidebar-title h1 {
    font-size: 19px;
  }

  .sidebar-items {
    gap: 4px;
  }
}
