.sidebar {
  width: 250px;
  background-color: #333;
  color: white;
  padding-top: 60px;
  height: 100vh;
  position: fixed;
  top: 40px;
  left: -250px;
  overflow: hidden;
  transition: 0.5s;
  z-index: 1;
}

.sidebar.open {
  left: 0;
}

.profile-title {
  display: flex;
  gap: 10px;
  align-items: center;
}

.sidebar-title {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.sidebar-title p {
  font-size: 25px;
  color: #32292f;
}

.sidebar-items {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-left: -25px;
  margin-top: -45px;
}

.sidebar-items li {
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  color: white;
}

.sidebar-items ul li.selected {
  margin-right: 10px;
  padding-left: 10px;
  background-color: #ccc;
  border-radius: 7px;
}

.sidebar-items a {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.sidebar-items i {
  color: white;
}
.icon:hover {
  color: #50404b;
}

.close-icon {
  color: white;
  position: absolute;
  top: 30px;
  right: 20px;
  font-size: 25px;
  cursor: pointer;
}

.close-icon:hover {
  color: #50404b;
}

.menu-icon {
  margin: 15px;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .sidebar {
    width: 60px;
  }

  .sidebar-items ul li {
    margin-bottom: 20px;
  }

  .sidebar-items ul li a p {
    display: none;
  }

  .sidebar-items ul li.selected {
    padding: 10px;
  }
}

@media (max-width: 350px) {
  .sidebar {
    height: 100vh;
  }
}
