.edit-project-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
}

.edit-project-form h1 {
  color: #32292f;
  margin-bottom: 1rem;
  font-size: 24px;
  text-align: center;
}

.edit-project-form form {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.edit-project-form input,
.edit-project-form textarea,
.edit-project-form select {
  width: calc(100%-30px);
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.edit-project-form button {
  padding: 0.7rem;
  margin-top: 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-project-form button:hover {
  background-color: #454545;
}
