.navbar {
  width: 100%;
  background-color: #333;
  color: white;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
}

.navbar .toogle-btn {
  font-size: 25px;
  cursor: pointer;
}

.navbar-title h1 {
  font-size: 20px;
}

.user-profile {
  font-size: 18px;
}

.user-profile i {
  margin-right: 20px;
  font-size: 25px;
  color: rgb(222, 217, 217);
}
