body {
  background-color: #fff;
  height: 100vh;

  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #f5f5f5;
  background-image: url("https://www.transparenttextures.com/patterns/double-lined.png");
}

.App {
  display: flex;
  flex-direction: column;
  /* width: 100vw; */
}

.main-content {
  flex-grow: 1;
  transition: margin-left 0.3s ease;
  padding: 40px;
  margin-top: 50px;
}

.main-content.with-sidebar {
  margin-left: 250px;
}

/* .todo {
  background-color: rgb(105, 198, 230);
  width: 10%;
  padding: 0.3rem;

} */

/* .not-started {
  background-color: rgb(163, 163, 248);
  width: 20%;
  padding: 0.3rem;
  border-radius: 10px;
}

.in-progress {
  background-color: yellow;
  width: 20%;
  padding: 0.3rem;
  border-radius: 10px;
} */

/* .tbody .in-progress {
  background-color: yellow;
  width: 20%;
  padding: 0.3rem;
} */

/* .completed {
  background-color: rgb(98, 202, 98);
  width: 20%;
  padding: 0.3rem;
  border-radius: 10px;
}

.on-hold {
  background-color: red;
  width: 20%;
  padding: 0.3rem;
  border-radius: 10px;
} */

.main-content.without-sidebar {
  margin-left: 70px;
}

@media (max-width: 768px) {
  .main-content.with-sidebar {
    margin-left: 60px;
    padding: 15px;
  }

  .main-content.without-sidebar {
    margin-left: 0;
  }
}
