.task-details-container {
  padding: 25px;
  background-color: #fff;
  border-radius: 10px;
}

.task-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.task-header h1 {
  font-size: 24px;
}

.task-details .detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0px;
}

.assignee-table {
  margin-top: -20px;
}

.assignee-table p {
  color: gray;
  font-size: 14px;
}

.task-details .detail .detail-title {
  color: grey;
}

.task-details {
  margin-top: 40px;
  border-radius: 5px;
}

.task-details p {
  font-size: 14px;
}

.file-upload {
  margin: 20px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  text-align: center;
  padding: 30px;
  text-wrap: wrap;
}

.title-back-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.title-back-icon i {
  font-size: 25px;
}

.task.high {
  background-color: rgb(252, 99, 99);
  align-items: flex-end;
  justify-content: flex-end;
  width: 10%;
}

.task.medium {
  background-color: rgb(247, 187, 74);
  justify-content: flex-end;
  width: 10%;
}

.task.low {
  background-color: rgb(149, 235, 149);
  justify-content: flex-end;
  width: 10%;
}

.comment-section {
  margin: 10px;
}

.comment-section input {
  width: 80%;
  height: 20px;
  border-radius: 20px;
  margin: 10px;
  outline: none;
  border: 1px solid #ccc;
}

.comment-section button {
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .task-details-container {
    margin-top: 20px;
    padding: 30px;
  }

  .task-header h1 {
    font-size: 14px;
  }

  .title-back-icon i {
    font-size: 14px;
  }

  .file-upload {
    padding: 10px;
  }

  .delete-edit-icon i {
    font-size: 14px;
  }

  .detail-title p {
    font-size: 10px;
  }

  .task-details p {
    font-size: 12px;
  }
}
