.project-details-container {
  position: relative;
  padding: 5px;
  /* background-color: #f6cc9e; */
  background-color: whitesmoke;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.project-details-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  align-items: center;
}

.project-details {
  padding: 5px;
}

.detail-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  border-bottom: 1px solid #ccc;
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detail .project-value {
  margin-top: 0px;
}

.project-details .detail-row .detail .project-key {
  color: #ccc;
  font-size: 14px;
}

.project-details .detail-row .detail .project-value {
  font-size: 14px;
}

.project-details .project-details-header .fa-solid {
  font-size: 24px;
  cursor: pointer;
}

.fa-solid {
  color: #32292f;
}

.fa-solid:hover {
  color: #50404b;
}

.delete-edit-icon {
  display: flex;
  gap: 15px;
}

.delete-edit-icon i {
  font-size: 25px;
}

.edit-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.edit-button:hover {
  background-color: #218838;
}

.edit-form-container {
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
}

.edit-form-container.visible {
  right: 0;
}

.tasks table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tasks th,
.tasks td {
  /* width: 100%; */
  font-size: 14px;
  border: 1px solid #ddd;
  padding: 8px;
}

.tasks th {
  background-color: #f4f4f4;
  text-align: left;
}

.tasks td a {
  text-decoration: none;
  color: #32292f;
}

.project-title-and-delete-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.create-task-card {
  background-color: #32292f;
  color: white;
  padding: 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  max-height: 50px;
  font-size: 14px;
}

.create-task-card.expanded {
  font-size: 14px;
  max-height: 500px;
}

.create-task-card .card-header {
  font-size: 18px;
  font-weight: bold;
}

.add-task-btn {
  margin-top: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.overview {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.overview h3 {
  font-size: 20px;
}

@media (max-width: 768px) {
  .project-details-container {
    padding: 15px;
  }

  .project-details-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .project-details {
    padding: 15px;
    justify-content: center;
  }

  .edit-form-container {
    width: 300px;
  }
}

@media (max-width: 480px) {
  .project-details-container {
    padding: 10px;
  }

  .project-details-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .project-details {
    padding: 10px;
  }
}
